/* Asegurarse de que html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Configurar el body como contenedor flex en columna */
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* Header ocupará el 20% de la altura */
  header {
    flex: 0 0 15%;
    /* Opcionalmente, puedes añadir estilos adicionales */
    background-color: #f0f0f0;
  }
  
  /* Main (body de la página) ocupará el 70% */
  main {
    flex: 0 75%;
    /* Estilos opcionales */
    background-color: #fff;
  }
  
  /* Footer ocupará el 10% */
  footer {
    flex: 0 0 10%;
    /* Estilos opcionales */
    background-color: #ccc;
  }
  